.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  width: 100%;
  border: 1px solid #ddd;
}

.styled-table th,
.styled-table td {
  text-align: center;
  padding: 12px;
}

.styled-table th {
  background-color: #4CAF50;
  color: white;
}

.styled-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* .styled-table tr:hover {
  background-color: #ddd;
} */

.pagination {
  margin: 20px 0;
}

.pagination button {
  margin: 0 5px;
  padding: 8px 12px;
  border: 1px solid #ddd;
  background-color: white;
  color: #333;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #4CAF50;
  color: white;
}

.pagination button.active {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}
