
.pagination-container {
  margin: 20px 0;
}

.pagination-container button {
  margin: 0 5px;
  padding: 8px 12px;
  border: 1px solid #ddd;
  background-color: white;
  color: #333;
  cursor: pointer;
}

.pagination-container button:hover {
  background-color: #7e7d7d;
  color: white;
}

.pagination-container button.active {
  background-color: #333;
  color: white;
  font-weight: bold;
}
