.loading-screen {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); 
  z-index: 9999;
}

.loading-text{
  font-size: 14px;
}
.spinner {
  border: 2px solid rgba(var(--black-rgb), 0.1);
  border-top: 2px solid rgba(var(--scampi-pale-rgb), 1);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
